<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>random_tune</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.MenuBarAppleScript.random_tune</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>random tune</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>random_tune</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>random_tune</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<true/>
		<key>bundlePositionOfDivider</key>
		<real>0.0</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>494</real>
		<key>savedFrame</key>
		<string>358 622 696 680 0 0 2560 1417 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
	<key>___No_NSServices____</key>
	<array>
		<dict>
			<key>Dummy</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>random tune</string>
			</dict>
			<key>NSMessage</key>
			<string>doService</string>
		</dict>
	</array>
</dict>
</plist>
